[Unit]
Description=Lab Lighting
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/lab/lighting.py
EnvironmentFile=/home/pi/.hue_env
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
